<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858330132728-hol78b34esmmg8qab4ee3el3u2rp2j70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858330132728-hol78b34esmmg8qab4ee3el3u2rp2j70</string>
	<key>API_KEY</key>
	<string>AIzaSyAjeydQ9_XdxBJ67nwZ5ip_Z64g1-FhrhM</string>
	<key>GCM_SENDER_ID</key>
	<string>858330132728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.arnav.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7f475</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7f475.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858330132728:ios:182b0e5b8acb3a5cf30b0d</string>
</dict>
</plist>